

.lista {
    height: 90vh;
    display: flex; /* 1 */
    background-color: orange;

    /* Endrer retningen på flex-boksen */
    flex-direction: row;
    justify-content: flex-end;
    justify-content: space-evenly;
    justify-content: center; /* 2 */

    align-items: stretch; /* default */
    align-items: flex-end;
    align-items: center; /* 3 */
}

/* Innhold på første nivå i en flexbox, kalles flex items */
.lista div {
    background-color: plum;
    padding: 20px;
    text-align: center;

    margin: 3px;
}

.f-4 {
    align-self: flex-start;
}

.bunn {
    align-self: flex-end;
}
